@import url('https://fonts.googleapis.com/css?family=Open+Sans');

$backgroundColor: black;
$primaryColor: #2231ff;
body {
    background-color: $backgroundColor;
    font-size: 24px;
    font-family: 'Open Sans', sans-serif;
}
a {
    outline: none;
}
div {
    min-height: 1px;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 200px;
}

#triviaBox {
    color: white;
    width: 800px;
    height: 500px;
    background-color: $backgroundColor;
    border: 1px solid black;
    box-shadow: 10px 5px 3px black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.newGameButton {
    outline: none;
    letter-spacing: 0.1cm;
    font-size: 24px;
    font-weight: bold;
    background: $backgroundColor;
    border-radius: 10px;
    border: 1px solid $backgroundColor;
    color: white;
    text-align: center;
    padding: 30px 70px 30px 70px;
    &:hover {
        transform: scale(1.1, 1.1);
    }
    &:active {
        transform: translateY(6px);
        outline: none;
    }
}

.question {
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    padding: 0px 25px 50px 25px;
}

.answers {
    display: flex;
    justify-content: space-around;
    text-align: center;
    padding: 0 25 50px 25px;
}

.answerButton {
    outline: none;
    margin: auto;
    padding: 5px 5px 5px 5px;
    font-size: 24px;
    border: none;
    text-align: center;
    color: white;
    background-color: $primaryColor;
    &:hover {
        background-color: $backgroundColor;
        box-shadow: 5px 3px 1px black;
    }
    &:active {
        box-shadow: 0 2px black;
        transform: translateY(4px);
    }
}
